@model LunchGuide.Models.UserModel

@{
    ViewData["Title"] = "AdminOverview";
}

<p>
    Du har loggat in som @ViewBag.name

    Existerar den här användaren: @ViewBag.exists
    Eventuellt felmeddelande: @ViewBag.error
</p>
