@model LunchGuide.Models.UserModel

@{
    ViewData["Title"] = "Login";
}

<style>
    .body {
        margin: 0 auto;
    }

    .grid-container{
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 500px;
    }

    .login {
        grid-column:  2/3;
        grid-row: 1/2;
        justify-self: center;
        align-self: center;
    }
</style>

<div class="grid-container">
    <div class="login">
        <h3>Logga in på lunchguiden</h3>

        <br />

        <div class="row">
            <div class="col-md-4">
                <form asp-action="AdminOverview" method="post" style="margin: 0% auto; width:400px;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Username" class="control-label">Användarnamn<abbr title="Det här fältet kräver ett svar" aria-label="required">*</abbr></label>
                        <input asp-for="Username" class="form-control" required maxlength="30"/>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label">Lösenord<abbr title="Det här fältet kräver ett svar" aria-label="required">*</abbr></label>
                        <input asp-for="Password" class="form-control" required maxlength="30" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    @if (@ViewBag.error != "")
                    {
                        <p style="color:red;">@ViewBag.error </p>
                    }

                    <div class="form-group">
                        <input class="btn btn-success" type="submit" value="Logga in" class="btn-default"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


    


